<h1>New Criminal</h1>

<%= form_for :criminal, url: criminals_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :ic %><br>
    <%= f.text_field :ic %>
  </p>
  
  <p>
    <%= f.label :offence %><br>
    <%= f.text_field :offence %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', criminals_path %>